@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;700:300&display=swap');

body {
    background-image: url("images/station.jpg");
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

button {
    color: white;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: bold;
    border: none;
    background-color: brown;
    width: 20%;
    height: 5em;
    border-radius: 1em;
    padding-top: 6px;
    
    

}

button:hover {
    background-color: rgb(83, 7, 7);
}

button.save-btn {
    background-color: green;
}

button.save-btn:hover {
    background-color: rgb(0, 56, 0);
}


